body {
  font-family: Arial, sans-serif;
  background: radial-gradient(#e0f7fa, #b2ebf2);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.unsur-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.unsur {
  background-color: #80deea;
  border: 2px solid #006064;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: grab;
  font-weight: bold;
  transition: transform 0.2s;
}

.unsur:hover {
  transform: scale(1.1);
  background-color: #4dd0e1;
}

.tabung-reaksi-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.slot {
  width: 80px;
  height: 80px;
  border: 2px dashed #00796b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #f5f5f5;
}
.campurBtn {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  background: radial-gradient(circle , #4dd0e1, #b3f6ff);
}
.funfact-card {
  display: none; /* awalnya tersembunyi */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  background: linear-gradient(#ffffff, #00e9ff);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 20px;
  z-index: 1000;
  text-align: center;
}
.hasilBtn {
  background-color: #00e9ff
}

#funfactText {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}


.funfact-card img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

#closeCard {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
