#libraryBtn {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 18px;
  border: none;
  border-radius: 12px;

  background: linear-gradient(45deg, #8cff4d, #7cffb2);
  color: #020202;
  font-weight: bold;
  font-size: 14px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  transition: 0.2s ease;
  z-index: 2000;
}

#libraryBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

#libraryBtn:active {
  transform: scale(0.95);
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(Asset/background.jpg) no-repeat center center;
  background-size: cover;
  filter: blur(8px); /* blur di sini */
  z-index: -1; /* taruh di belakang */
}


.container {
  padding: 20px;
}

.unsur-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.unsur {
  background-color: #0da3b6;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: grab;
  font-weight: bold;
  transition: transform 0.2s;
}

.unsur:hover {
  transform: scale(1.1);
  background-color: #00b1c8;
}

.tabung-reaksi-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.slot {
  width: 80px;
  height: 80px;
  border: 2px dashed #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #007576;
}
.campurBtn {
  width: 80px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  background: radial-gradient(circle , #0b8797, #00acc3);
}
.funfact-card {
  display: none; /* awalnya tersembunyi */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  max-height: 80vh;
  background: linear-gradient(#ffffff, #00e9ff);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 20px;
  z-index: 1000;
  text-align: center;
  overflow-y: auto;
}

.hasilBtn {
  background-color: #00e9ff
}

#funfactText {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}


.funfact-card img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

#closeCard {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
